/* Skocko styles */
.startGame {
  background-color: red;
  color: white;
  border: 2px solid orange;
  font-weight: bold;
  height: 33px;
  padding: 5px 20px;
  border-radius: 7px;
}

.guessing {
  width: 272px; /* 272       */
  height: 55px;
  background-color: #f47;
  margin: 5px 8px;
}

.confirmBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
}
.signs {
  width: 45px;
  margin-right: 1px;
  height: 53px;
}
.signs img {
  width: 42px;
  height: 49px;

  border: 2px solid red;
}

.classWithinComp {
  /* background-color: #ddd333; */
  border: 1px solid grey;
  display: flex;
  flex-direction: row;
}
.singleGuess {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 45px; /*  45 SIRINA  */
  height: 53px;
  background-color: white;
  margin-left: 2px;
  margin-top: 1px;
  margin-left: 1px;
}
.result {
  width: 21px;
  height: 20px;
}
