/* Skocko styles */
.startGame {
  background-color: red;
  color: white;
  border: 2px solid orange;
  font-weight: bold;
  height: 33px;
  padding: 5px 20px;
  border-radius: 7px;
}
.pointsWon {
  position: absolute;
  /* visibility: hidden; */
  opacity: 0;
  margin-top: 290px;
  margin-left: 20px;
  font-size: 95px;
  color: red;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  transition: opacity 3s;
}
.guessing {
  width: 275px; /* 272       */
  height: 55px;
  background-color: #f47;
  margin: 5px 8px;
}

.confirmBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
}
.signs {
  width: 45px;
  margin-right: 1px;
  height: 53px;
}
.signs img {
  width: 42px;
  height: 49px;
  border: 2px solid red;
}

.classWithinComp {
  /* background-color: #ddd333; */
  border: 1px solid green;
  display: flex;
  flex-direction: row;
}
.singleGuess {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 45px; /*  45 SIRINA  */
  height: 53px;
  background-color: white;
  margin-left: 2px;
  margin-top: 1px;
  margin-left: 1px;
}
.result {
  width: 21px;
  margin-top: 13px;
  height: 20px;
}

.result:first-of-type {
  margin-left: 3px;
}
