li {
  list-style-type: circle;
  color: blue;
}

li:active {
  color: red;
}

li:hover {
  background-color: #aaf;
  width: 20px;
}

.horDiv {
  border: 2px solid green;
  text-align: center;
  flex: 1;
  align-items: center;
  line-height: 28px;
  font-weight: bold;
}
.horDiv:hover {
  background-color: red;
}
.outerDiv {
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: orange;
}
